In [1]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt

In [2]:
urldata = pd.read_csv('urldata.csv')
urldata.head()

   Unnamed: 0                        url   label  result
0           0     https://www.google.com  benign       0
1           1    https://www.youtube.com  benign       0
2           2   https://www.facebook.com  benign       0
3           3      https://www.baidu.com  benign       0
4           4  https://www.wikipedia.org  benign       0

In [3]:
urldata = urldata.drop('Unnamed: 0',axis=1)

In [4]:
urldata.head()

                         url   label  result
0     https://www.google.com  benign       0
1    https://www.youtube.com  benign       0
2   https://www.facebook.com  benign       0
3      https://www.baidu.com  benign       0
4  https://www.wikipedia.org  benign       0

In [5]:
urldata.shape

(450176, 3)

In [6]:
!pip install tld

Requirement already satisfied: tld in c:\users\tnish\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.12.6)

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\tnish\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [7]:
from urllib.parse import urlparse
from tld import get_tld
import os.path

In [8]:
urldata['url_length'] = urldata['url'].apply(lambda i: len(str(i)))

In [9]:
urldata['hostname_length'] = urldata['url'].apply(lambda i: len(urlparse(i).netloc))

In [10]:
urldata['path_length'] = urldata['url'].apply(lambda i: len(urlparse(i).path))

In [11]:
def fd_length(url):
    urlpath= urlparse(url).path
    try:
        return len(urlpath.split('/')[1])
    except:
        return 0

urldata['fd_length'] = urldata['url'].apply(lambda i: fd_length(i))

In [12]:
#Length of Top Level Domain
urldata['tld'] = urldata['url'].apply(lambda i: get_tld(i,fail_silently=True))
def tld_length(tld):
    try:
        return len(tld)
    except:
        return -1

urldata['tld_length'] = urldata['tld'].apply(lambda i: tld_length(i))

In [13]:
urldata.head()

,url,label,result,url_length,hostname_length,path_length,fd_length,tld,tld_length
0,https://www.google.com,benign,0,22,14,0,0,com,3
1,https://www.youtube.com,benign,0,23,15,0,0,com,3
2,https://www.facebook.com,benign,0,24,16,0,0,com,3
3,https://www.baidu.com,benign,0,21,13,0,0,com,3
4,https://www.wikipedia.org,benign,0,25,17,0,0,org,3

In [14]:
urldata = urldata.drop("tld",1)

C:\Users\tnish\AppData\Local\Temp\ipykernel_15084\932459447.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  urldata = urldata.drop("tld",1)

In [15]:
urldata.head()

,url,label,result,url_length,hostname_length,path_length,fd_length,tld_length
0,https://www.google.com,benign,0,22,14,0,0,3
1,https://www.youtube.com,benign,0,23,15,0,0,3
2,https://www.facebook.com,benign,0,24,16,0,0,3
3,https://www.baidu.com,benign,0,21,13,0,0,3
4,https://www.wikipedia.org,benign,0,25,17,0,0,3

In [16]:
urldata['count-'] = urldata['url'].apply(lambda i: i.count('-'))

In [17]:
urldata['count@'] = urldata['url'].apply(lambda i: i.count('@'))

In [18]:
urldata['count?'] = urldata['url'].apply(lambda i: i.count('?'))

In [19]:
urldata['count%'] = urldata['url'].apply(lambda i: i.count('%'))
urldata['count.'] = urldata['url'].apply(lambda i: i.count('.'))
urldata['count='] = urldata['url'].apply(lambda i: i.count('='))
urldata['count-http'] = urldata['url'].apply(lambda i : i.count('http'))
urldata['count-https'] = urldata['url'].apply(lambda i : i.count('https'))
urldata['count-www'] = urldata['url'].apply(lambda i: i.count('www'))

In [20]:
def digit_count(url):
    digits = 0
    for i in url:
        if i.isnumeric():
            digits = digits + 1
    return digits
urldata['count-digits']= urldata['url'].apply(lambda i: digit_count(i))

In [21]:
def letter_count(url):
    letters = 0
    for i in url:
        if i.isalpha():
            letters = letters + 1
    return letters
urldata['count-letters']= urldata['url'].apply(lambda i: letter_count(i))

In [22]:
def no_of_dir(url):
    urldir = urlparse(url).path
    return urldir.count('/')
urldata['count_dir'] = urldata['url'].apply(lambda i: no_of_dir(i))

In [23]:
urldata.head()

,url,label,result,url_length,hostname_length,path_length,fd_length,tld_length,count-,count@,count?,count%,count.,count=,count-http,count-https,count-www,count-digits,count-letters,count_dir
0,https://www.google.com,benign,0,22,14,0,0,3,0,0,0,0,2,0,1,1,1,0,17,0
1,https://www.youtube.com,benign,0,23,15,0,0,3,0,0,0,0,2,0,1,1,1,0,18,0
2,https://www.facebook.com,benign,0,24,16,0,0,3,0,0,0,0,2,0,1,1,1,0,19,0
3,https://www.baidu.com,benign,0,21,13,0,0,3,0,0,0,0,2,0,1,1,1,0,16,0
4,https://www.wikipedia.org,benign,0,25,17,0,0,3,0,0,0,0,2,0,1,1,1,0,20,0

In [24]:
import re

In [25]:
def having_ip_address(url):
    match = re.search(
        '(([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.'
        '([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\/)|'  # IPv4
        '((0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\/)' # IPv4 in hexadecimal
        '(?:[a-fA-F0-9]{1,4}:){7}[a-fA-F0-9]{1,4}', url)  # Ipv6
    if match:
        # print match.group()
        return -1
    else:
        # print 'No matching pattern found'
        return 1
urldata['use_of_ip'] = urldata['url'].apply(lambda i: having_ip_address(i))

In [26]:
def shortening_service(url):
    match = re.search('bit\.ly|goo\.gl|shorte\.st|go2l\.ink|x\.co|ow\.ly|t\.co|tinyurl|tr\.im|is\.gd|cli\.gs|'
                      'yfrog\.com|migre\.me|ff\.im|tiny\.cc|url4\.eu|twit\.ac|su\.pr|twurl\.nl|snipurl\.com|'
                      'short\.to|BudURL\.com|ping\.fm|post\.ly|Just\.as|bkite\.com|snipr\.com|fic\.kr|loopt\.us|'
                      'doiop\.com|short\.ie|kl\.am|wp\.me|rubyurl\.com|om\.ly|to\.ly|bit\.do|t\.co|lnkd\.in|'
                      'db\.tt|qr\.ae|adf\.ly|goo\.gl|bitly\.com|cur\.lv|tinyurl\.com|ow\.ly|bit\.ly|ity\.im|'
                      'q\.gs|is\.gd|po\.st|bc\.vc|twitthis\.com|u\.to|j\.mp|buzurl\.com|cutt\.us|u\.bb|yourls\.org|'
                      'x\.co|prettylinkpro\.com|scrnch\.me|filoops\.info|vzturl\.com|qr\.net|1url\.com|tweez\.me|v\.gd|'
                      'tr\.im|link\.zip\.net',
                      url)
    if match:
        return -1
    else:
        return 1
urldata['short_url'] = urldata['url'].apply(lambda i: shortening_service(i))

In [27]:
urldata.head()

,url,label,result,url_length,hostname_length,path_length,fd_length,tld_length,count-,count@,...,count.,count=,count-http,count-https,count-www,count-digits,count-letters,count_dir,use_of_ip,short_url
0,https://www.google.com,benign,0,22,14,0,0,3,0,0,...,2,0,1,1,1,0,17,0,1,1
1,https://www.youtube.com,benign,0,23,15,0,0,3,0,0,...,2,0,1,1,1,0,18,0,1,1
2,https://www.facebook.com,benign,0,24,16,0,0,3,0,0,...,2,0,1,1,1,0,19,0,1,1
3,https://www.baidu.com,benign,0,21,13,0,0,3,0,0,...,2,0,1,1,1,0,16,0,1,1
4,https://www.wikipedia.org,benign,0,25,17,0,0,3,0,0,...,2,0,1,1,1,0,20,0,1,1

In [28]:
print("Percent Of Malicious URLs:{:.2f} %".format(len(urldata[urldata['label']=='malicious'])/len(urldata['label'])*100))
print("Percent Of Benign URLs:{:.2f} %".format(len(urldata[urldata['label']=='benign'])/len(urldata['label'])*100))

Percent Of Malicious URLs:23.20 %
Percent Of Benign URLs:76.80 %

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

from sklearn.tree import DecisionTreeClassifier

from sklearn.linear_model import LogisticRegression

In [31]:
x = urldata[['hostname_length','path_length', 'fd_length', 'tld_length', 'count-', 'count@', 'count?','count%', 'count.', 'count=', 'count-http','count-https', 'count-www', 'count-digits','count-letters', 'count_dir', 'use_of_ip']]

#Target Variable
y = urldata['result']

In [32]:
x.shape
y.shape

(450176,)

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.3, random_state=42)

In [34]:
print(y_test)

367504    1
286248    0
180683    0
156395    0
159544    0
         ..
228050    0
151656    0
431078    1
103564    0
29611     0
Name: result, Length: 315124, dtype: int64

In [35]:
print(x_test)
print(type(x_test))

        hostname_length  path_length  fd_length  tld_length  count-  count@  \
367504               24           20          9           3       0       0
286248               16           19         17           3       1       0
180683               20           54          5           3       5       0
156395               22           63          4           3       9       0
159544               12           27         26           3       0       0
...                 ...          ...        ...         ...     ...     ...
228050               20           38         37           3       0       0
151656               19           36          6           3       0       0
431078               14           38          5           2       1       0
103564               36            1          0           3       0       0
29611                20           21          4           3       0       0

        count?  count%  count.  count=  count-http  count-https  count-www  \
367504       0       0       2       0           1            0          0
286248       0       0       2       0           1            1          1
180683       0       0       3       0           1            1          1
156395       0       0       2       0           1            1          1
159544       0       0       3       0           1            1          1
...        ...     ...     ...     ...         ...          ...        ...
228050       0       0       3       0           1            1          1
151656       0       0       2       0           1            1          1
431078       0       0       3       0           1            0          1
103564       0       0       3       0           1            1          1
29611        0       0       3       0           1            1          1

        count-digits  count-letters  count_dir  use_of_ip
367504             0             44          2          1
286248             0             35          2          1
180683             3             65          2          1
156395             8             67          4          1
159544             0             38          1          1
...              ...            ...        ...        ...
228050             0             56          1          1
151656             6             48          4          1
431078             0             48          3          1
103564             0             38          1          1
29611              0             40          2          1

[315124 rows x 17 columns]
<class 'pandas.core.frame.DataFrame'>

In [36]:
dt_model = DecisionTreeClassifier()
dt_model.fit(x_train.values,y_train)                
dt_predictions = dt_model.predict(x_test.values)    
# dt_predictions = dt_model.predict(x_test) 
accuracy_score(y_test,dt_predictions)

0.9954589304527741

In [37]:
# sample 1  
review_array = np.array([[24,20,9,3,0,0,0,0,2,0,1,0,0,0,44,2,1]])
# print(type(review_array))
print(dt_model.predict(review_array))

[1]

In [38]:
rfc = RandomForestClassifier()
rfc.fit(x_train.values, y_train)

rfc_predictions = rfc.predict(x_test.values)
accuracy_score(y_test, rfc_predictions)

0.9972233152663713

In [39]:
review_array = np.array([[24,20,9,3,0,0,0,0,2,0,1,0,0,0,44,2,1]])
# print(type(review_array))
print(rfc.predict(review_array))

[1]

In [40]:
import pickle

In [41]:
pickle.dump(dt_model, open('model2', 'wb'))

In [42]:
pickle.dump(rfc, open('model3', 'wb'))

In [43]:
test_array = np.array([[16,19,17,3,1,0,0,0,2,0,1,1,1,0,35,2,1]])
loaded_model = pickle.load(open('model2', 'rb'))
result = loaded_model.predict(test_array)
print(result)

[0]

In [44]:
test_array2 = np.array([[16,19,17,3,1,0,0,0,2,0,1,1,1,0,35,2,1]])
loaded_model2 = pickle.load(open('model3', 'rb'))
result2 = loaded_model.predict(test_array2)
print(result2)

[0]